{% extends 'super.html' %}

{% block content %}

<section class="engine"><a href="https://mobirise.info/k">develop free website</a></section><section class="header12 cid-rUxhpR275Y mbr-fullscreen mbr-parallax-background" id="header12-1">

    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(35, 35, 35);">
    </div>
    <div class="container">
      <div class="media-container">
        <div class="row">
          <div class="mbr-section-btn align-center py-2"><a class="btn btn-md btn-secondary display-4" href="{{url_for(data['callback'])}}">Back</a></div>
        </div>
        <div class="row align-center">
            <div class="display-1 text-light">Error! {{ data['message'] }}</div>
        </div>
      </div>
    </div>

{% endblock %}
