{% extends 'super.html' %}

{% block extra_headers %}
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
{% endblock %}

{% block content %}
<section class="engine"><a href="https://mobirise.info/w">free html5 templates</a></section>
<section class="features11 cid-rUxybgVnCg" id="features11-5">
  <div class="container">
    <div class="media-container">
      <div class="row align-center">
        <div class="col-3"></div>
        <div class="col-6">
          <div id="myDiv"></div>
        </div>
        <div class="col-3"></div>
      </div>
    </div>
  </div>
</section>
<script src="static/theme/js/map.js"></script>
{% endblock %}
