{% extends 'super.html' %}

{% block content %}
<section class="engine"><a href="https://mobirise.info/p">website templates free download</a></section>
<section class="timeline2 cid-rUCpVrhox2" id="timeline2-i">

    <div class="container align-center">
        <h2 class="mbr-section-title pb-3 mbr-fonts-style display-1">
            TIMELINE</h2>
        <h3 class="mbr-section-subtitle pb-5 mbr-fonts-style display-5">
            The progression of the Novel Coronavirus Disease day by day for a typical patient goes as follows-</h3>

        <div class="container timelines-container" mbri-timelines="">
            <!--1-->
            <div class="row timeline-element reverse separline">
                <span class="iconsBackground">
                    <span class="mbr-iconfont mbri-right" style="color: rgb(35, 35, 35); fill: rgb(35, 35, 35);"></span>
                </span>
                <div class="col-xs-12 col-md-6 align-left">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">
                            Day 1<br></h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">Patients run a fever. They may also experience fatigue, muscle pain, and a dry cough. A small minority of them may have had diarrhea or nausea one to two days before.<br></p>
                     </div>
                </div>
            </div>
            <!--2-->
            <div class="row timeline-element  separline">
                <span class="iconsBackground">
                    <span class="mbr-iconfont mbri-left" style="color: rgb(35, 35, 35); fill: rgb(35, 35, 35);"></span>
                </span>
                <div class="col-xs-12 col-md-6 align-left ">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">
                            Day 5</h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">Patients may have difficulty breathing - especially if they are older or have a preexisting health condition</p>
                    </div>
                </div>
            </div>
            <!--3-->
            <div class="row timeline-element reverse separline">
                <span class="iconsBackground">
                    <span class="mbr-iconfont mbri-globe" style="color: rgb(35, 35, 35); fill: rgb(35, 35, 35);"></span>
                </span>
                <div class="col-xs-12 col-md-6 align-left">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">
                            Day 7</h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">If breathing problems still persist and seem to get worse, the patients are admitted to hospital according to a Wuhan University Study</p>
                    </div>
                </div>
            </div>
            <!--4-->
            <div class="row timeline-element  separline">
                <span class="iconsBackground">
                    <span class="mbr-iconfont mbri-target" style="color: rgb(35, 35, 35); fill: rgb(35, 35, 35);"></span>
                </span>
                <div class="col-xs-12 col-md-6 align-left ">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5">&nbsp;Day 8</h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            At this point, patients with severe cases develop <strong>acute respiratory distress syndrome</strong> (ARDS), an illness that occurs when fluids build up in the lungs. <strong>ARDS is often fatal.</strong></p>
                    </div>
                </div>
            </div>
            <!--5-->
            <div class="row timeline-element reverse separline">
                <span class="iconsBackground">
                    <span class="mbr-iconfont socicon-microsoft socicon" style="color: rgb(35, 35, 35); fill: rgb(35, 35, 35);"></span>
                </span>
                <div class="col-xs-12 col-md-6 align-left">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5"><p>
                            Day 10</p></h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">If patients have worsening symptoms, this is the time in the disease's progression when they are most likely to be admitted to the ICU. These patients probably hvae more abdominal pain and appetite loss than patients with milder cases. Only a small fraction die: <strong>The current fatality rate hovers around 4.7%</strong> (a significant rise from ~2% in the month of February)&nbsp;</p>
                    </div>
                </div>
            </div>
            <!--6-->
            <div class="row timeline-element">
                <span class="iconsBackground">
                    <span class="mbr-iconfont mbri-protect" style="color: rgb(35, 35, 35); fill: rgb(35, 35, 35);"></span>
                </span>
                <div class="col-xs-12 col-md-6 align-left ">
                    <div class="timeline-text-content">
                        <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-5"><p>
                            Day 17</p></h4>
                        <p class="mbr-timeline-text mbr-fonts-style display-7">
                            On average, people who recover from the virus are discharged from the hospital after two and a half weeks.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section info4 cid-rUCyVDoaHX" id="info4-m">




    <div class="container">
        <div class="justify-content-center row">
            <div class="media-container-column title col-12 col-md-10">
                <h2 class="align-right mbr-bold mbr-white pb-3 mbr-fonts-style display-2">
                    HOWEVER...</h2>
                <h3 class="mbr-section-subtitle align-right mbr-light mbr-white pb-3 mbr-fonts-style display-5">
                    The first symptoms might not come right after a person has been infected. A typical patient may be infected without showing symptoms for five or more days. Once symptoms do appear, they can be similar to pneumonia but the way COVID-19 can speedily worsen distinguishes it from Pneumonia and unlike Pneumonia, COVID-19 can't be treated with the usage of antibiotics.</h3>

                <div class="mbr-section-btn align-right py-4"><a class="btn btn-primary-outline display-4" href="https://www.mygov.in/covid-19#tb_1">LEARN MORE</a>
                    <a class="btn btn-secondary-outline display-4" href="https://www.who.int/india/emergencies/india-situation-report">SITUATION IN INDIA</a></div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
