{% extends 'super.html' %}

{% block content %}
  <section class="engine"><a href="https://mobirise.info/n">simple site templates</a></section><section class="header12 cid-rUxhpR275Y mbr-fullscreen mbr-parallax-background" id="header12-1">
      <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(35, 35, 35);"></div>
      <div class="container">
        <div class="media-container">
          <div class="col-md-1 bg-light p-3 mt-5 round_div">
            <form method="post" action="{{ url_for('form_submit') }}">
              <div class="align-center pb-3 mt-3 mb-0">
                <div class="display-5">Fill the form to get an assessment of your risk!</div>
              </div>
              <div class="form-group">
                <label for="first-name">First name</label>
                <input type="text" class="form-control" name="fname" id="first-name" placeholder="Enter your first name">
              </div>
              <div class="form-group">
                <label for="last-name">Last name</label>
                <input type="text" class="form-control" name="lname" id="last-name" placeholder="Enter your last name">
              </div>
              <div class="form-group">
                <label for="age">Age</label>
                  <select class="custom-select" name="age" id="age">
                  {% for i in range(1,101) %}
                    <option value="{{ i }}">{{ i }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="gender">Gender</label>
                <div class="radio" id="gender">
                  <label class="m-2">
                    <input type="radio" name="gender" id="male" value="male">
                    male
                  </label>
                  <label class="m-2">
                    <input type="radio" name="gender" id="female" value="female">
                    female
                  </label>
                  <label class="m-2">
                    <input type="radio" name="gender" id="other" value="other">
                    other
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label>In which professional field / in which professional situation are you currently?</label>
                <div class="form-check">
                  <input type="radio" class="form-check-input" name="prof" id="home">
                  <label class="form-check-label" for="home">I am currently working from home</label>
                </div>
                <div class="form-check">
                  <input type="radio" class="form-check-input" name="prof" id="food">
                  <label class="form-check-label" for="food">Food industry / utilities</label>
                </div>
                <div class="form-check">
                  <input type="radio" class="form-check-input" name="prof" id="health">
                  <label class="form-check-label" for="health">Healthcare industry</label>
                </div>
                <div class="form-check">
                  <input type="radio" class="form-check-input" name="prof" id="public">
                  <label class="form-check-label" for="public">Public service</label>
                </div>
                <div class="form-check">
                  <input type="radio" class="form-check-input" name="prof" id="others">
                  <label class="form-check-label" for="others">Others</label>
                </div>
              </div>
              <div class="form-group">
                <label>How much contact is there in your current job with employees / customers?</label>
                <div class="form-check">
                  <input type="radio" class="form-check-input" name="contact" id="no">
                  <label class="form-check-label" for="home">no contact</label>
                </div>
                <div class="form-check">
                  <input type="radio" class="form-check-input" name="contact" id="yes">
                  <label class="form-check-label" for="food">little contact to a lot of contact</label>
                </div>
              </div>
              <div class="align-center">
                <button type="submit" class="btn btn-primary">How susceptible am I?</button>
              </div>
            </form>
          </div>
        </div>
      </div>

  </section>

  <script src="static/web/assets/jquery/jquery.min.js"></script>
  <script src="static/popper/popper.min.js"></script>
  <script src="static/bootstrap/js/bootstrap.min.js"></script>
  <script src="static/tether/tether.min.js"></script>
  <script src="static/smoothscroll/smooth-scroll.js"></script>
  <script src="static/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="static/viewportchecker/jquery.viewportchecker.js"></script>
  <script src="static/vimeoplayer/jquery.mb.vimeo_player.js"></script>
  <script src="static/parallax/jarallax.min.js"></script>
  <script src="static/dropdown/js/nav-dropdown.js"></script>
  <script src="static/dropdown/js/navbar-dropdown.js"></script>
  <script src="static/theme/js/script.js"></script>

{% endblock %}
